[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/roblabla42/ft_printf.git
[submodule "mlx_x11"]
	path = mlx_x11
	url = https://github.com/roblabla42/mlx_x11.git
[submodule "mlx_mac"]
	path = mlx_mac
	url = https://github.com/roblabla42/mlx_mac.git
[submodule "libft"]
	path = libft
	url = https://github.com/roblabla42/libft.git
